.searchContainer {
  display: flex;
  justify-content: center;
}

.searchBox {
  position: relative;
}

.searchInput {
  font-size: 1.2rem;
  height: 1.44rem;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.7rem;
  padding-right: 1.9rem;
}

.searchButton {
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  right: 10px;
  top: 0;
  height: 100%;
  color: black;
}
